<div class="modal-overlay">
  <div class="modal-compacto">
    <button class="close-btn-red" (click)="fechar()">X</button>

    <h3>Troque sua Seleção</h3>

    <div class="tabs-nav">
      <button [class.ativo]="abaAtiva === 'existente'" (click)="abaAtiva = 'existente'">
        Time Existente
      </button>
      <button [class.ativo]="abaAtiva === 'novo'" (click)="abaAtiva = 'novo'">Criar Novo</button>
    </div>

    <div class="tab-body" *ngIf="abaAtiva === 'existente'">
      <select class="input-moderno select-moderno" [(ngModel)]="timeSelecionado">
        <option [ngValue]="null" disabled>Selecione um time...</option>
        <option *ngFor="let t of timesDisponiveis" [ngValue]="t">
          {{ t.nome }}
        </option>
      </select>
    </div>

    <div class="tab-body" *ngIf="abaAtiva === 'novo'">
      <input
        type="text"
        placeholder="Nome do Time (Ex: Vasco)"
        [(ngModel)]="novoTime.nome"
        class="input-moderno"
      />
      <input
        type="text"
        placeholder="URL da Bandeira"
        [(ngModel)]="novoTime.bandeira"
        class="input-moderno"
      />

      <div class="preview-time" *ngIf="novoTime.nome || novoTime.bandeira">
        <img [src]="novoTime.bandeira || 'https://flagcdn.com/w160/xx.png'" />
        <span>{{ novoTime.nome || 'Nome do Time' }}</span>
      </div>
    </div>

    <button class="btn-green btn-full" (click)="confirmar()">Confirmar Troca</button>
  </div>
</div>
